
/*----------------    Page Setup CSS Section    ----------------*/

:root {
  --primary-color: #22ad01;
  --secondary-color: #003c2f;
  --grey-green: #65816d;
  --off-white: #efeae3;
  --background-color: rgb(214, 255, 216);
  --font-family: "Martel Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: var(--font-family);
  font-style: normal;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

/*----------------    Generic CSS Section    ----------------*/

.d-row {
  display: inline-block;
}

.img-auto-fit {
  width: 100%;
  height: auto;
}

.f-nav-foot {
  font-weight: 600;
  font-size: clamp(1.05rem, 2vw, 1.2rem);
  word-spacing: 0.15rem;
}

.f-head {
  font-weight: 800;
  font-size: clamp(1.8rem, 6vw, 4rem);
  word-spacing: 0.5rem;
  color: var(--secondary-color);
}

.f-subhead {
  font-weight: 700;
  font-size: clamp(1rem, 3.5vw, 2rem);
}

.f-normal {
  font-weight: 700;
  font-size: clamp(1.1rem, 1.35vw, 1.3rem);
}

.f-small {
  font-weight: 600;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  background-color: var(--primary-color);
  padding: 0.4rem 1.5rem;
  border-radius: 1.56rem;
  color: white;
}

.btn:hover{
  background-color: #259609;
  padding: 0.4rem 1.5rem;
  border-radius: 1.56rem;
  color: white;
}

.section {
  width: 100%;
  height: max-content;
  padding: 3rem clamp(1rem, 5vw, 8rem);
  background-color: white;
}

.row-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 5rem;
}

.col-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.t-center {
  text-align: center;
}

.scale {
  transition: transform 0.6s ease-in-out;
  transform: scale(1.05);
}

.highlight {
  filter: brightness(1.3) saturate(1.2);
}

a:focus,
a:active,
a:visited{
  color: white;
}

a:not(.link-hover-none):after {
  display:block;
  content: '';
  border-bottom: 2px solid var(--primary-color);  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  transform-origin:  0% 50%;
}

a:not(.link-hover-none):hover:after { 
  transform: scaleX(1); 
}

a:hover{
  color: var(--primary-color);
}

/*----------------------***** Specific CSS Section *****----------------------*/

/*----------------    Header hero section with nav bar section CSS    ----------------*/

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 2vw 0 2vw;
  background-color: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("/Images/yv-hero.webp") no-repeat center center, black;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100svh;
  gap: 3rem;
}

.header-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.yv-logo {
  width: 20%;
  min-width: 13rem;
  margin: 0 1vw 0 1vw;
}

.nav-bar {
  transform: translateY(-15%);
}

.nav-list li {
  display: inline-block;
  margin: 0 2vw 0 0.5rem;
  color: white;
}

.menu-icon {
  display: none;
}

.sidebar {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  width: 13rem;
  height: auto;
  padding: 1rem 1rem 7rem 1rem;
  border-radius: 1rem;
  backdrop-filter: blur(1.5rem);
  display: none;
}

.mobile-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.mobile-nav li {
  margin-top: 1rem;
  padding-left: 1rem;
  width: 100%;
}

.mobile-nav li:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.mobile-nav li:nth-child(1):hover {
  background-color: rgba(0, 0, 0, 0);
  align-self: end;
}

.mobile-nav li a {
  width: 100%;
  display: block;
}

.hero-headline {
  font-weight: 600;
  margin: -2.4rem 1rem 0 1vw;
  color: white;
  font-size: clamp(1.5rem, 4vw, 3rem);
  line-height: 4rem;
}

.hero-headline span {
  font-size: clamp(2.5rem, 6vw, 6rem);
  font-weight: 600;
}

.hero-cta-btn-group {
  align-self: center;
  padding-bottom: 2rem;
  margin-left: 10%;
}

.hero-cta-btn-group a:nth-child(1) {
  position: relative;
  z-index: 1;
}

.hero-cta-btn-group a:nth-child(2) {
  margin-left: -20%;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  padding: 0.278rem 1.5rem 0.278rem 3.55rem;
}
.hero-cta-btn-group a:nth-child(2):hover {
  border-color: #259609;
}


/*----------------    Why Choose Us Section CSS    ----------------*/

.features-cont {
  margin: 3rem 0rem 1rem 0rem;
}

.features-card > p:nth-child(1) {
  line-height: 4rem;
}

.features-card > img {
  width: 3rem;
  height: auto;
}

/*----------------    Quote With BG Image Section CSS    ----------------*/

.quote-image {
  background: url("/Images/yoga-clipart.webp") no-repeat right center,
    var(--background-color);
  background-size: contain;
}

.quote-image > h1 > span {
  font-size: larger;
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 0.2rem var(--secondary-color);
}

/*----------------    Training Centers Section CSS    ----------------*/

.training-centers-cont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  width: 100%;
}

.center-junagadh {
  background: url("/Images/center-junagadh.webp") no-repeat center bottom;
}
.center-jamnagar {
  background: url("/Images/center-jamnagar.webp") no-repeat center bottom;
}
.center-somnath {
  background: url("/Images/center-somnath.webp") no-repeat center bottom;
}
.center-gandhinagar {
  background: url("/Images/center-gandhinagar.webp") no-repeat center bottom;
}

.training-center {
  background-size: cover;
  gap: clamp(11rem, 40vh, 17rem);
  border-radius: 1rem;
  padding: 2rem;
  transition: transform 0.25s ease-in-out, filter 0.25s ease-in-out;
}

.training-center > h2 {
  color: black;
  font-weight: 900;
  font-size: clamp(1.7rem, 3.5vw, 2rem);
  -webkit-text-stroke: 1px white;
}

.training-center:hover a {
  padding: 0.2rem 4rem;
}

.training-center a {
  transition: padding 0.25s ease-in-out;
}

.training-centers-cont:hover .training-center:not(:hover) {
  filter: brightness(0.5) saturate(0.8) contrast(1.2) blur(2px);
}

.training-centers-cont:hover .training-center:hover {
  transform: scale(1.03);
  filter: brightness(1.07);
}

/*----------------    Pricing Plans Section CSS    ----------------*/

.pricing-plans {
  width: 100%;
  background-color: var(--background-color);
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.plans-cont {
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3rem;
}

.plan {
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.2s ease-in-out, filter 0.3s ease-in-out;
}

.plan > .price-content > p > span:nth-child(1) {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--secondary-color);
}

.plan > .price-content > p > span:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 600;
}

.features p img {
  width: 12px;
  height: auto;
  margin-right: 5px;
}

.price-content {
  padding: 1.5rem;
}

.plan-name {
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: center;
}

.price-content > a {
  margin-top: 1rem;
}

.plan:hover {
  transform: translateY(-2%);
}

.standard:hover {
  transform: scale(1.11);
}

.standard {
  transform-origin: bottom;
  transform: scale(1.1);
}

/*----------------    Footer Full Screen Section CSS    ----------------*/

.space-for-footer {
  height: 100lvh;
  width: 100%;
  position: relative;
  z-index: -10;
}

footer {
  position: relative;
  z-index: -5;
}

.footer {
  position: fixed;
  width: 100%;
  height: 100lvh;
  padding: 3rem clamp(1rem, 5vw, 5rem) 1.5rem clamp(1rem, 5vw, 5rem);
  bottom: 0;
  background-color: black;
  color: var(--off-white);
  z-index: -1;
  justify-content: space-between;
  align-items: normal;
}

.footer-links {
  justify-content: space-around;
  gap: 2rem;
  padding-top: 2rem;
}

.footer-links h2 {
  border-bottom: 1px solid rgba(239, 234, 227, 1);
  margin-left: 0.5rem;
}

.footer-pages {
  align-items: flex-start;
}

.footer-social {
  align-items: flex-start;
}

.footer-credit {
  padding-top: 1rem;
  border-top: 1px solid rgba(239, 234, 227, 0.3);
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-credit p img {
  width: auto;
}

.footer-brand-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(2.9rem, 14.4vw, 14.5rem);
  font-weight: 900;
}

.icon-before {
  width: 1.8rem;
  transform: translateY(20%);
  margin: 0 0.4rem;
}


/*----------------    Media Query CSS    ----------------*/

@media only screen and (max-width: 708px) {
  .small-d-none {
    display: none !important;
  }

  .quote-image > h1 > span {
    -webkit-text-stroke: 0.12rem black;
  }

  .quote-image > h1 {
    color: black;
    text-shadow: 4px 2px 4px #ffffff;
  }
}

@media only screen and (min-width: 709px) {
  .menu-icon {
    display: none !important;
  }
}

@media only screen and (max-width: 1085px) {
  .features-cont {
    flex-direction: column;
    gap: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .training-centers-cont {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 601px) and (max-width: 1386px) {
  .training-centers-cont {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1386px) {
  .training-centers-cont:hover .training-center:not(:hover) {
    filter: none;
  }
  .training-centers-cont:hover .training-center:hover {
    transform: none;
    filter: none;
  }
  .training-center:hover a {
    padding: 0.4rem 1.5rem;
  }
}

@media only screen and (max-width: 1036px) {
  .standard {
    transform: scale(1);
  }
  .plan:hover {
    transform: translateY(0%);
  }
  .standard:hover {
    transform: scale(1);
  }
}

@media only screen and (max-width: 651px) {
  .footer-credit {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(239, 234, 227, 0.8);
  }

  .footer-credit p:nth-child(3) {
    display: none;
  }

  .footer-credit p:nth-child(2) {
    border-top: 1px solid rgba(239, 234, 227, 0.3);
    border-bottom: 1px solid rgba(239, 234, 227, 0.3);
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }

  .footer-credit p:nth-child(1)::after {
    content: "India";
    margin-left: 1rem;
    padding-left: 1.5rem;
    font-weight: bold;
    background: url("/Images/Icons/world.svg") no-repeat left center;
    background-size: contain;
  }
}
